.home-info{
    position: relative;
}
h2{
    color: yellowgreen;
    font-size: 45px;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 30px;
}

.subscription,.label-subscribe{
    position: relative;
}
